@charset "UTF-8";

@font-face {
    font-family: idroid;
    src: url(fontes/idroid.otf) format('opentype');
    } 

:root {
     --cor01:#E69570;
     --cor02:#FE5000;
     --cor03:#80300B;
     --cor04:#8F0000;

     --fonte-padrao: arial,verdana, helvetica, sans-serif;
     --fonte-destaque: 'bebas neue' ;
    }
body {
    background-color: var(--cor01);
    font-family: var(--fonte-padrao);
    margin: auto;
    }
    

main {
    
    background-color: white;
    padding: 10px;
    margin: auto;
    margin-bottom: 30px;
    max-width: 800px;
    min-width: 280px;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.452);
    
}

main p {
    --fonte-padrao: arial,verdana, helvetica, sans-serif;
    margin: 15px 0px;
}
header {
    background-image: linear-gradient(to bottom, var(--cor04), var(--cor02));    
    text-align: center;
    padding: 10px;
    margin: auto;
    }

    header h1 {
    font-family: idroid, sans-serif;
    color: #ffffff;
    font-style: normal;
}
    header p {
        color: rgb(255, 255, 255);
        font-size: 1.2em;
        font-style: normal;
    }
    
    nav {
        background-color: var(--cor02);
        padding: 10px;        ;
        font-weight: bold;
        color: white;
    }

    nav a{
        text-decoration: none;
        color:var(--cor04);
        padding: 5px;

    }
     
    nav a:hover{
        border-radius: 5px;
        background-color: #E69570;
        padding: 5px;
        color:var(--cor04);
        text-decoration: underline;
        font-weight: bold;
        transition-duration: 1s;
        
        
    }
    h2 {   
        text-align: center;
        font-family: idroid, sans-serif;
        background-image: linear-gradient(to right, var(--cor03), var(--cor02));
        color: #ffffff;
         }
    img {
        width: 100%;
    }
    img.imagempq{
    max-width: 250px;
    display: block;
    margin: auto;
    }

     div.video {
        background-color: var(--cor03);
        margin: 0px -10px 40px -10px;
        padding: 20px   ;
        position: relative;
        padding-bottom: 40%;
     }
     
     div.video > iframe {
       position: absolute;
       top: 5%;
       left: 15%;
       width: 70%;
       height: 90%;
     }
    }

    div.video > iframe {
     position: absolute;
     padding: -30%;
     left: 25%;
    }
    aside {
        background-color: var(--cor02) ;
        padding: 10px;
        border-radius: 10px; 
        box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.514);  
    }
    
    aside h3 {
    background-color: var(--cor04);
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
    }

    aside ul {
       list-style-position: inside;
       columns: 2;
     
    }
    
    footer {
        background-image: linear-gradient(to bottom, var(--cor02), var(--cor04));
        padding: 8px;
        text-align: center;
        margin: 0px;
    }